// COLORS
$primary: #4d870f;

$white: #fff;
$black: #000;
$text: #242424;

$light-grey: #e8e8e8;

$primary-gradient: linear-gradient(180deg, #5da015 0%, #4d870f 100%);
$secondary-gradient: linear-gradient(180deg, #be884d 0%, #a67845 100%);

// FONTS

$Metropolis: 'Metropolis', sans-serif;
